html { scroll-behavior: smooth; }
body { font-family: 'Open Sans', sans-serif; font-size: calc(var(--gap) * 1.15); color: var(--color__black); font-weight: 400; font-style: normal; }
::-webkit-scrollbar { width: calc(var(--gap) / 1.4); }
::-webkit-scrollbar-track { background-color: var(--color__dark); }
::-webkit-scrollbar-thumb { background-color: var(--color__primary_tint_03); }
::-webkit-scrollbar-thumb:hover { background-color: var(--color__primary_tint_03); }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0 1000px var(--color__white) inset; }

[data-bg-color="primary"] { background-color: var(--color__primary); }
[data-bg-color="white"] { background-color: var(--color__white); }
[data-bg-color="black"] { background-color: var(--color__black); }
[data-bg-color="dark"] { background-color: var(--color__dark); }
[data-bg-color="red"] { background-color: var(--color__red); }
[data-bg-color="grey"] { background-color: var(--color__grey); }

[data-bg-trans="primary"] { background-color: var(--color__trans_primary); }
[data-bg-trans="grey"] { background-color: var(--color__trans_grey); }

[data-txt-color="primary"],
[data-txt-color="primary"]:visited { color: var(--color__primary); }
[data-txt-color="white"],
[data-txt-color="white"]:visited  { color: var(--color__white); }
[data-txt-color="black"],
[data-txt-color="black"]:visited { color: var(--color__black); }
[data-txt-color="grey"],
[data-txt-color="grey"]:visited { color: var(--color__grey); }
[data-txt-color="red"],
[data-txt-color="red"]:visited { color: var(--color__red); }

.fill_primary { fill: var(--color__primary); }
.fill_white { fill: var(--color__white); }
.fill_black { fill: var(--color__black); }
.fill_grey { fill: var(--color__grey); }

.d_flex { display: flex; }
.d_block { display: block; }
.d_block-i {  display: block!important; }
.d_none { display: none!important; }
.d_grid { display: grid; }
.flow_wrap { flex-flow: row wrap }
.flex_row { flex-direction: row; }
.flex_column { flex-direction: column; }
.justify_content-start { justify-content: flex-start; }
.justify_content-center { justify-content: center; }
.justify_content-end { justify-content: flex-end; }
.justify_content-between { justify-content: space-between; }
.justify_content-around { justify-content: space-around; }
.align_items-start { align-items: flex-start; }
.align_items-center { align-items: center; }
.align_items-end { align-items: flex-end; }
.max_100 { max-width: 100%; }
.w_100 { width: 100%; }
.h_100 { height: 100%; }
.mx_auto { margin-inline: auto; }
.overflow_hidden { overflow: hidden; }
.object_cover { object-fit: cover; }
.object_center { object-position: center; }
.radius_100 { border-radius: 100%; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.position_fixed { position: fixed; }
.position_sticky { position: sticky; }

[data-txt-weight="400"] { font-weight: 400; }
[data-txt-weight="500"] { font-weight: 500; }
[data-txt-weight="600"] { font-weight: 600; }
[data-txt-weight="700"] { font-weight: 700; }
[data-txt-weight="800"] { font-weight: 800; }

[data-txt-transform="capitalize"] { text-transform: capitalize; }
[data-txt-transform="uppercase"] { text-transform: uppercase; }
[data-txt-transform="lowercase"] { text-transform: lowercase; }

[data-txt-decoration="none"] { text-decoration: none; }
[data-txt-decoration="underline"] { text-decoration: lowercase; }

[data-txt-style="normal"] { font-style: normal; }
[data-txt-style="italic"] { font-style: italic; }

[data-txt-align="right"] { text-align: right; }
[data-txt-align="center"] { text-align: center; }
[data-txt-align="left"] { text-align: left; }
[data-txt-talign="justify"] { text-align: justify; }

.animation__slideInDown { -webkit-animation: var(--animation__slideInDown); animation: var(--animation__slideInDown); }
.animation__slideOutUp { -webkit-animation: var(--animation__slideOutUp); animation: var(--animation__slideOutUp); }
.animation__slideInRight { -webkit-animation: var(--animation__slideInRight); animation: var(--animation__slideInRight); }
.animation__slideOutRight { -webkit-animation: var(--animation__slideOutRight); animation: var(--animation__slideOutRight); }


.row { gap: calc(var(--gap) * 1.8); padding-inline: var(--padding); max-width: calc(var(--width) - (var(--padding) * 2)); }
.section { padding-block: calc(var(--padding) * 5.5); }
.section__title { max-width: calc(var(--width) / 1.8); font-size: clamp(calc(var(--gap) * 1.9), 3.5vw, calc(var(--gap) * 2.6)) ; }
.section__text { max-width: calc(var(--width) / 1.5); font-size: clamp(calc(var(--gap) * 1.105), 3.5vw, calc(var(--gap) * 1.25)); line-height: 1.6; }
.input { padding-block: calc(var(--padding) / 1.6); padding-inline: var(--padding); border: var(--border) var(--color__black); border-radius: var(--radius); font-family: 'Open Sans', sans-serif; font-size: clamp(calc(var(--gap) * 1.125), 3.5vw, calc(var(--gap) * 1.15)); resize: none; outline: none; -webkit-transition: border-color var(--transitionTime), color var(--transitionTime), background-color var(--transitionTime); transition: border-color var(--transitionTime), color var(--transitionTime), background-color var(--transitionTime); }
textarea.input { height: calc(var(--gap) * 9); }
.input::placeholder { color: var(--color__primary_tint_06); text-transform: capitalize; }
.input:focus { border-color: var(--color__primary); color: var(--color__white); background-color: var(--color__primary); -webkit-transition: border-color var(--transitionTime), color var(--transitionTime), background-color var(--transitionTime); transition: border-color var(--transitionTime), color var(--transitionTime), background-color var(--transitionTime); }
.input:focus::placeholder { color: var(--color__white); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
.btn { border: none; padding-inline: calc(var(--padding) * 1.5); padding-block: calc(var(--padding) / 2); border-radius: var(--radius); width: fit-content; font-size: calc(var(--gap) * 1.525); }
.btn svg { max-width: calc(var(--gap) * 2); }

.header { top: 0; left: 0; border-bottom: var(--border) var(--color__primary_tint_02); height: calc(var(--gap) * 5.5); z-index: 10; }
.header h1 { color: transparent; font-size: 0; }
.header__logo { font-size: clamp(calc(var(--gap) * 2), 3.5vw, calc(var(--gap) * 2.25)); }

@media(min-width: 768px) {
  .header__toggler,
  .nav { display: none!important; }
  .header__nav { gap: calc(var(--gap) * 3); }
  .header__nav a { font-size: calc(var(--gap) * 1.25); opacity: .3; }
}
@media(max-width: 767.89px) {
  .header__toggler { border: var(--border) var(--color__white); border-radius: var(--radius); width: calc(var(--gap) * 3.25); height: calc(var(--gap) * 3.25); background-color: transparent; -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
  .header__toggler svg { max-width: calc(var(--gap) * 2.5); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
  .header__toggler.active { background-color: var(--color__white); transition: background-color var(--transitionTime); }
  .header__toggler.active svg { fill: var(--color__primary); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
  .header__nav { display: none; }
  .nav { top: calc(var(--gap) - (var(--gap) * 24)); left: 0; z-index: 9; }
  .nav a { padding-block: calc(var(--padding) * 1.25); padding-inline: var(--padding); border-bottom: var(--border) var(--color__primary_tint_02);}
}

#home { padding-block: calc(var(--padding) * 2); height: calc(100vh - (var(--gap) * 5.5)); min-height: calc(var(--padding) * 32.5); }
.home__title { font-size: clamp(calc(var(--gap) * 2.25), 3.5vw, calc(var(--gap) * 3.5)); }
.home__subtitle { font-size: clamp(calc(var(--gap) * 1.85), 3.5vw, calc(var(--gap) * 2.6)); }
.home__thumbnail { max-width: calc(var(--width) / 2.35); }
#about picture { max-width: calc(var(--width) / 3); }
.teamboxes { gap: calc(var(--gap) * 3.5); }
.teambox { gap: calc(var(--gap) * 1.25); max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 3.5)) / 4.43); }
.teambox__thumbnail { max-width: calc(var(--width) / 7.25); }
.teambox__title { font-size: clamp(calc(var(--gap) * 1.3), 3.5vw, calc(var(--gap) * 1.65)); }
.teambox__description { font-size: clamp(calc(var(--gap) * 1.125), 3.5vw, calc(var(--gap) * 1.225)); line-height: 1.25; }
.filters { gap: calc(var(--gap) * 2); }
.filter { padding-block: calc(var(--padding) / 2); padding-inline: var(--padding); border: var(--border) var(--color__primary); border-radius: var(--radius); font-size: clamp(calc(var(--gap) * 1.15), 3.5vw, calc(var(--gap) * 1.25)); opacity: .6; background: none; }
.filter.active { color: var(--color__white); background-color: var(--color__primary); opacity: 1; }
.portfolioboxes { gap: calc(var(--gap) * 2.5); }
.portfoliobox { max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 2.5)) / 3.17); z-index: 1; }
.portfoliobox__link { bottom: calc(var(--gap) - (var(--gap) * 33.5)); left: 0; z-index: 2; transition: bottom var(--transitionTime); }
.portfoliobox:hover .portfoliobox__link { display: flex; bottom: 0; transition: bottom var(--transitionTime); }
.portfoliobox__link svg { max-width: calc(var(--gap) * 14); }
.portfolio__data { gap: calc(var(--gap) * 1.025); padding-block: calc(var(--padding) * 1.25); padding-inline: calc(var(--padding) / 1.25); bottom: 0; left: 0; z-index: 1; }
.portfolio__data h2 { font-size: clamp(calc(var(--gap) * 1.25), 3.5vw, calc(var(--gap) * 1.5)); }
.portfolio__data p { font-size: clamp(calc(var(--gap) * 1.025), 3.5vw, calc(var(--gap) * 1.15)); line-height: 1.4; }
.contact__container { max-width: calc(var(--width) / 2.25); }
.contact__form { gap: calc(var(--gap) * 1.3); }
.contact__form fieldset { gap: calc(var(--gap) / 2) }
.contact__form .btn { max-width: calc(var(--gap) * 12.25); width: 100%; }
.contact__form label.error { color: var(--color__red); font-size: clamp(var(--gap), 3.5vw, calc(var(--gap) * 1.15)); text-align: left; font-weight: 400; }
.contact__form input.error,
.contact__form textarea.error { border-color: var(--color__red); }
.contact__form input.error:focus,
.contact__form textarea.error:focus { background-color: var(--color__red); }
.form__error { font-size: calc(var(--gap) * 1.025); }

.btn__backtop { max-width: calc(var(--gap) * 3.5); height: calc(var(--gap) * 3.5); right: var(--padding); bottom: calc(var(--padding) * 5); z-index: 1; }
.btn__backtop svg { max-width: calc(var(--gap) * 1.8); }
.footer { padding-block: calc(var(--gap) * 3.5); }
.footer__nav { gap: calc(var(--gap) * 1.25); }
.footer__nav li { gap: calc(var(--gap) * 1.25); }
.footer__nav li a { font-size: clamp(calc(var(--gap) * 1.2), 3.5vw, calc(var(--gap) * 1.28)); }
.footer__disclaimer { font-size: clamp(var(--gap), 3.5vw, calc(var(--gap) * 1.125)); }

@media(min-width: 500px) { .footer__nav li:not(:last-child)::after{ content: ':'; font-size: calc(var(--gap) * 1.3); } }
@media(max-width: 499.89px) { .footer__nav { flex-direction: column; } }

@media(hover: hover) {
  .header__nav a,
  .header__nav a:hover,
  .filter,
  .filter:hover { -webkit-transition: opacity var(--transitionTime); transition: opacity var(--transitionTime); }
  .btn[data-bg-color="primary"],
  .btn:hover[data-bg-color="primary"] { -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
  .portfoliobox__link svg,
  .portfoliobox__link svg:hover { -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }

  .header__nav a:hover,
  .filter:hover { opacity: 1; }
  .portfoliobox__link svg:hover { fill: var(--color__primary_tint_05); }
  .btn:hover[data-bg-color="primary"] { background-color: var(--color__primary_shade_05); }
}